<h3>Hello, {{ user.name }}</h3>
<a href="/logout">
  <button>Log out</button>
</a>


<h2>Create new event</h2>
<label for="event-title">Title: *</label>
<br>
<input type="text" id="event-title">

<br><br>

<label for="event-slug">Url: *</label>
<p style="font-size: 12px; color: #aaa; margin: 0;">http://localhost:8888/</p>
<br>
<input type="text" id="event-slug">

<br><br>

<label for="event-description">Description: *</label>
<br>
<textarea id="event-description" cols="60" rows="10"></textarea>

<br><br>

<label for="event-vibe">Vibe: *</label>
<br>
<select id="event-vibe">
  <option value="0" disabled selected>Choose vibe..</option>
  {{#each vibeNames as |vibe i|}}
    <option>{{ vibe }}</option>
  {{/each}}
</select>

<br><br>

<label for="event-password">Password: (optional)</label>
<br>
<input type="password" id="event-password">

<br><br>

<button id="create-event">Create</button>


<script>

  const vibes = JSON.parse('{{{ vibes }}}');

  const createButton = document.getElementById('create-event');
  createButton.addEventListener('click', initiateCreateEvent);

  const eventTitle = document.getElementById('event-title');
  eventTitle.addEventListener('input', titleInput);

  const eventSlug = document.getElementById('event-slug');

  function titleInput() {
    let title = this.value;
    title = title.replace(' ', '-');
    title = title.replace(/[^0-9a-z-]/gi, '');
    title = title.toLowerCase();
    eventSlug.value = title;
  }

  function initiateCreateEvent() {
    const title = document.getElementById('event-title').value;
    const description = document.getElementById('event-description').value;
    const vibe  = vibes[document.getElementById('event-vibe').value];
    const password = document.getElementById('event-password').value;

    fetch('/create-event', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      credentials: 'include',
      body: JSON.stringify({
        title: title,
        description: description,
        vibe: vibe,
        password: password
      })
    }).then((response) => response.json()).then((json) => {
      console.log(json);
    }).catch((error) => {
      console.log('Fetch error: ' + error);
    });
  }

</script>
