<div class="intro-container">
  <div class="intro">
    <h2>Welcome to <span>CO-Q</span>!</h2>
    <p>Co-Q is a web application powered by the Spotify SDK that creates the perfect music streaming for your event.</p>
    <p class="margin">To get started, sign in with your Spotify account below.</p>
    <a href="/logIntoSpotify">
      <button class="login">Log into Spotify</button>
    </a>
  </div>
</div>
