body {
  font-family: 'Montserrat', sans-serif;
  background: #1D1D1D;
  color: #fff;
}

button, input, label, select, textarea {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

button {
  height: 44px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #292929;
  line-height: 24px;
  padding: 8px 20px;
  outline: none;
  appearance: none;
  border: 1px solid transparent;
  cursor: pointer;

  transition: border-color 0.2s ease;

  &:hover {
    border-color: #5A5A5A;
  }

  &.primary {
    background: #1DB954;

    transition: background 0.2s ease;

    &:hover {
      background: #179D46;
      border-color: transparent;
    }
  }

  &.secondary {
    background: #2C4DB2;

    transition: background 0.2s ease;

    &:hover {
      background: #224099;
      border-color: transparent;
    }
  }

  &.login {
    background-image: url(../img/spotify.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-color: #1DB954;
    padding-right: 54px;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: #179D46;
      border-color: transparent;
    }
  }

  &.warning {
    background: #BF3030;
    border-color: transparent;

    transition: background 0.2s ease;

    &:hover {
      background: #A92222;
      border-color: transparent;
    }
  }
}

label {
  width: 100%;
  display: block;
  font-size: 13px;
  color: #8D8D8D;
  font-weight: 400;
  line-height: 16px;

  span {
    color: #1DB954;
  }
}

input {
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #292929;
  border: 1px solid transparent;
  border-radius: 6px;
  text-indent: 20px;
  padding: 0 20px 0 0;
  outline: none;
  box-shadow: 0px;

  transition: border-color 0.2s ease;

  &:hover {
    border-color: #5A5A5A;
  }

  &:focus {
    border-color: rgba(#1DB954, 0.5);
  }
}

textarea {
  width: 100%;
  height: 150px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #292929;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 20px;
  outline: none;
  box-shadow: 0px;
  resize: none;

  transition: border-color 0.2s ease;

  &:hover {
    border-color: #5A5A5A;
  }

  &:focus {
    border-color: rgba(#1DB954, 0.5);
  }
}

ul.vibe-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  li {
    height: 30px;
    padding: 0 11px;
    font-size: 13px;
    font-weight: 400;
    color: #C4C4C4;
    border: 1px solid transparent;
    line-height: 28px;
    border-radius: 4px;
    background: #2C2C2C;
    margin: 0 10px 10px 0;
    cursor: pointer;
    user-select: none;

    transition: border-color 0.2s ease, background 0.2s ease, color 0.2s ease;

    &:hover {
      border-color: #5A5A5A;
      color: #fff;
    }

    &.selected {
      color: #fff;
      background: #1DB954;

      &:hover {
        border-color: transparent;
        background: #179D46;
      }
    }
  }
}

.field-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0;

    &:first-child {
      margin: 0;
    }

    label {
      margin: 0 0 10px;
    }

    &.vibes {
      margin: 30px 0 0;
    }
  }
}



section.main {
  width: 100%;
  min-height: 100%;
  background: #1D1D1D;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  article.wrapper {
    width: 100%;
    max-width: 1200px;
    position: relative;
  }
}

.intro-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    width: 100%;
    max-width: 640px;
    background: #121212;
    border: 1px solid #303030;
    border-radius: 8px;
    padding: 60px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin: 0 0 10px;

      span {
        font-weight: 700;
        color: #1DB954;
      }
    }

    p {
      line-height: 20px;

      &.margin {
        margin: 35px 0 25px;
      }
    }
  }
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    color: #fff;
    text-decoration: none;
  }

  h2 {
    line-height: 50px;
  }

  .user-area {
    height: 50px;
    display: flex;
    flex-wrap: wrap;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      padding: 0 15px 0 0;

      p {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
      }

      a {
        font-size: 13px;
        font-weight: 500;
        color: #8D8D8D;
        line-height: 18px;
        text-decoration: none;

        transition: color 0.2s ease;

        &:hover {
          color: #fff;
        }
      }
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: 2px solid #fff;
      background-color: #121212;
    }
  }
}


.page-head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  text-align: center;

  p {
    max-width: 420px;
    color: #CBCBCB;
    margin: 5px 0 20px;
  }
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a, button {
    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.event-list-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .event-list {
    width: 50%;
    padding: 0 20px 0 0;
    position: relative;
    text-align: center;

    > p {
      color: #CBCBCB;
      margin: 20px 0 0;
    }

    &:nth-child(2n) {
      padding: 0 0 0 20px;
    }

    ul.events {
      li {
        margin: 20px 0 0;

        a {
          width: 100%;
          display: block;
          background: #121212;
          border: 1px solid #303030;
          border-radius: 8px;
          padding: 30px;
          text-align: left;
          text-decoration: none;
          color: #fff;

          transition: border-color 0.2s ease;

          &:hover {
            border-color: rgba(#1DB954, 0.5);
          }
        }

        > p {
          color: #CBCBCB;
        }

        .meta {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          margin: 5px 0 15px;

          p {
            font-size: 13px;
            line-height: 16px;
            color: #8D8D8D;
            margin: 0 10px 0 0;

            &:last-of-type {
              margin: 0;
            }

            span {
              font-weight: 500;
              color: #fff;
            }
          }
        }
      }
    }
  }
}





section.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(#1D1D1D, 0.9);
  padding: 40px;
  overflow: scroll;

  transition: opacity 0.4s ease;

  display: none;
  opacity: 0;

  &.display {
    display: block;
  }

  &.show {
    opacity: 1;

    .modal-wrapper:not(.feedback) article.modal:not(.hide) {
      transform: scale(1);
    }
  }

  &.forceModal .modal-wrapper:not(.feedback) article.modal {
    transform: scale(1);
    opacity: 0;
  }

  .modal-wrapper {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &.feedback {
      position: absolute;
      top: 0;
      left: 0;

      transition: opacity 0.4s ease;

      display: none;
      opacity: 0;

      &.display {
        display: flex;
      }

      &.show {
        opacity: 1;

        article.modal {
          transform: scale(1);
        }
      }

      article.modal {
        transform: scale(1.05);
      }
    }

    article.modal {
      width: 100%;
      max-width: 640px;
      background: #121212;
      border: 1px solid #303030;
      border-radius: 8px;
      padding: 60px 80px;

      transition: transform 0.4s ease, opacity 0.4s ease;;

      transform: scale(0.95);

      &.hide {
        transform: scale(0.95);
        opacity: 0;
      }

      .event-head {
        width: 100%;
        margin: 0 0 50px;
        text-align: center;

        p {
          color: #8D8D8D;
          margin: 10px 0 0;
        }
      }

      .button-wrapper {
        margin: 40px 0 0;
      }
    }
  }
}

.join-event-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0;

  .join-event {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
      color: #CBCBCB;
      margin: 5px 0 0;
    }

    .field-list {
      margin: 40px 0;
    }
  }
}
